/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  padding-bottom: .5em;
}

h3 {
  font-size: 2.5em;
  padding-top: .75em;
  padding-bottom: .5em;
}

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { text-decoration: underline; }
a:visited { color: #205caa; }

ul {
  text-align: center;
  list-style-position: inside;
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  color: #444;
}

p {
  line-height: 1.68em;
  font-size: 1.2em;
  margin-bottom: 1em;
}

footer {
  padding-top: 1em;
  line-height: 1.4em;
  font-size: 1em;
  text-align: center;
}

