<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- For viewing the page on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thoughts of an Eaten Sun</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="page-content">
      <div class="wrap">
        <%= yield %>
      </div>
    </div>
    <footer>
      Copyright &copy; 2016 Kyle Tolle
    </footer>
  </body>
</html>

